bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
docutils==0.16
fire==0.3.1
idna==2.10
importlib-metadata==1.7.0
keyring==21.2.1
packaging==20.4
pkginfo==1.5.0.1
pprintpp==0.4.0
Pygments==2.7.4
pyparsing==2.4.7
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rich==4.2.2
six==1.15.0
soupsieve==2.0.1
termcolor==1.1.0
tqdm==4.48.0
twine==3.2.0
typing-extensions==3.7.4.2
urllib3==1.25.10
webencodings==0.5.1
zipp==3.1.0
